@media (min-width: 1600px){

    .block-editor-page .components-popover:not(.is-mobile):not(.is-middle).is-right .components-popover__content {

        margin-left: -190px
    }

    .block-editor-page.folded .components-popover:not(.is-mobile):not(.is-middle).is-right .components-popover__content {

        margin-left: -65px

    }

    .edit-post-layout__content .editor-styles-wrapper .editor-writing-flow {
        max-width: 80%;
        margin-left: 350px
    }

    .editor-block-types-list__list-item {
        width: 25%;
    }

    .editor-block-types-list__list-item{
        border: 1px solid transparent;
    }

    /*
    .editor-block-types-list__list-item:hover{
        border: 1px solid #191e23;
        background-color: #F5f5f5;
    }
    */


    .editor-block-types-list__list-item:not(:disabled):hover .editor-block-types-list__item-icon{
        border-radius: 4px 4px 0 0;
    }
    .editor-block-types-list__list-item:not(:disabled):hover .editor-block-types-list__item-title{
        border-radius: 0 0 4px 4px;
    }

    @media (min-height: 800px) {
        .editor-inserter__popover:not(.is-mobile) > .components-popover__content {
            height: 700px;
        }
    }

    @media (min-height: 900px) {
        .editor-inserter__popover:not(.is-mobile) > .components-popover__content {
            height: 800px;
        }
    }

}

.editor-inserter__popover .components-panel__body.is-opened .editor-block-types-list{
    background-color: #fff;
    background-color: #F7f7f7;

}
.editor-inserter__popover .components-panel__body.is-opened .editor-block-types-list:hover{
    background-color: #F5f5f5;
    background-color: #ffffff;

}

.editor-inserter__popover .components-panel__body.is-opened .editor-block-types-list:hover .editor-block-types-list__item-icon,
.editor-inserter__popover .components-panel__body.is-opened .editor-block-types-list:hover .editor-block-types-list__item-title{
    color: #000
}

.editor-inserter__popover .editor-block-types-list .editor-block-types-list__list-item:not(:disabled):hover .editor-block-types-list__item-icon,
.editor-inserter__popover .editor-block-types-list .editor-block-types-list__list-item:not(:disabled):hover .editor-block-types-list__item-title{
    background-color: black;
    color: white
}

.editor-inserter__popover .editor-block-types-list {
    margin: 0px -15px;
}

.editor-inserter__popover .components-panel__body.is-opened .components-panel__body-title button,
.editor-inserter__popover .components-panel__body.is-opened .components-panel__body-title button:focus,
.editor-inserter__popover .components-panel__body.is-opened .components-panel__body-title svg{
    background-color: #191e23;
    color: #ffffff;
}

.components-panel__body.is-opened:hover{
    background-color: #ffffff;
}

